<div>
  <div class="page-header">
    <h1>Volume adjust</h1>
  </div>

  <p class="lead">Turn the volume (of your computer) all the way down. Then press the button
    below and adjust the volume to a comfortable level. <strong>Do not adjust the volume after
    this step!</strong></p>
  <br/>
  <p class="text-center">
    <button type="button" class="btn btn-circle btn-play" ng-click="play()" ng-bind-html="buttonTxt|unicode"></button>
  </p>
  <br/><br/>
  <p class="text-center">
    <button type="button" class="btn btn-default" ng-click="ready()">Next &rsaquo;</button>
  </p>
</div>
